<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>Reports <small>Work with Chart.js and D3</small></h2>
		</div>
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="jumbotron">
			<div class="container">
				<h1>Add Charts here</h1>
				<p>You can use C3.js or Chart.js</p>
				<p>
					<a class="btn btn-primary btn-lg btn-white" ui-sref="overview">Back to Overview</a>
				</p>
			</div>
		</div>
	</snap-content>	
</div>
