.login-page {

	overflow: auto;
	display: table;
	width: 100%;
	height: 100%;
    background: @brand-primary;

	// text-align: center;
	color: #fff;

	padding: 3em;

	h1 {
		font-weight: 700;
		line-height: 32px;
		font-size: 34px;
		
			span {
				font-size: 27px;
			}
		small {
			color: #FFFFFF;
			opacity: 0.7;
			padding-right: 5px;
			font-size: 16px;
		  	display: block;
		 	margin-top: 8px;
		}
	}

	.form-group {
		padding: 8px 0;
		margin-bottom: 0;
	}

	.form-content {
		padding: 40px 0;
	}
	.user-avatar {
		max-width: 230px;
		width: 100%;
		border: 3px solid white;
	}
	.img-container, .form-content {
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
	}
	.img-container {
		text-align: right;
		width: 40%;
		.pro-link {
			a {
				color: white;
				position: absolute;
				right: 25px;
				top: 25px;
				font-weight: 600;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.form-content {
		position: relative;
		.table-form {
			display: table;
			width: 55%;
			.form-groups, .button-container {
				display: table-cell;
				vertical-align: middle;
			}
			.button-container {
			}
		}	
		.bottom-75 {
			margin-bottom: 75px;
		}
		.input-lg {
			border-radius: 0;
		}
		.form-control {
			background: darken(@brand-primary, 3%);
			border-color: darken(@brand-primary, 3%);
			box-shadow: none;
			color: white;
			
		}
		::-webkit-input-placeholder {
		   color: rgba(255,255,255,0.9);
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: rgba(255,255,255,0.9);  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: rgba(255,255,255,0.9);  
		}

		:-ms-input-placeholder {  
		   color: rgba(255,255,255,0.9);  
		}
		.login {
			height: 110px;
			width: 100px;
			border-radius: 0;
			background: orange;
			border-color: orange;
			box-shadow: none;
			margin-left: 15px;
			color: white;
			&:focus {
				outline: none;
				outline-offset: none;
			}
		}
	}
	.remember {
		margin-top: 8px;
		width: 50%;
		.checkbox1 {
			padding-right: 5px;
		}
		span.pass {
			float: right;
			padding-top: 2px;
		}
	}
	
}





.user-avatar2 {
	width: 120px;
	border: 2px solid white;
	margin-bottom: 5px;
}
.login2 {
		// // position: absolute;
		// top: 24px;
		// right: -130px;
		height: 38px;
		border-radius: 0;
		width: 46px;
		margin-right: 12px;
		background: orange;
		border-color: orange;
		box-shadow: none;
		color: white;
		&:focus {
			outline: none;
			outline-offset: none;
		}
		&:hover {
			color: orange;
			background: white;
			border-color: white;
		}
	}

@media (max-width: 991px) { 
	.table-form {
		width: 80% !important;
	}
	.remember {
		width: 50% !important;
	}
}


@media (max-width: 768px) {
	
	.login-page, .img-content, .form-content {
		display: block !important;
	}
	.img-content, .form-container {
		// text-align: center !important;
	}
	.img-container {
		.pull-right {
			float: none !important; 
		}
		.img-responsive {
			display: initial;
		}

	}
	.form-content {
		// text-align: -webkit-center;
		.table-form {
			width: 100% !important;
		}
		.form-groups {
			width: 80% !important;
		}
		.remember {			
			width: 100% !important;
		}
	}
	.pro-link {
		display: none !important;
	}
}
