<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-sm-3 col-md-2 sidebar">


      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Overview <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>
        <li><a href="http://www.strapui.com/versatile-angularjs-theme">Versatile Theme Premium Edition</a></li>
      </ul>

    </div> -->
    <div class="col-sm-12 col-md-12 main" ui-view>
       
    </div>
  </div>
</div>
</div>